.form_field_footer {
    margin-left: 93px;

    @media screen and (max-width: 1200px) {
        margin-top: 60px;
        margin-left: 0;
     }
}

.send_text {
    font-family: var(--main_fond);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first_color);
    margin-bottom: 20px;

    @media screen and (max-width: 1200px) {
        text-align: center;
     }
}

.form_input_wrapper {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1200px) {
       flex-direction: column;
       
     }
}

.footer_form_input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    background-color: var(--background_first);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--first_color);

    &:focus {
        outline: none;
        border-color: var(--accent_color);
    }

    @media screen and (max-width: 1200px) {
        width: 450px;
      }
}


.btn_footer {
    display: flex;
    align-items: center;
    min-width: 200px;
    height: 50px;
    margin-left: 12px;
    padding: 10px 28px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0 / 15%);
    border-radius: 4px;
    background-color: var(--accent_color);
    border: 0px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.85;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover {
        background-color: var(--button_accent);
    }

    @media screen and (max-width: 1200px) {
        margin-top: 20px;
      }
}


.foter_send_icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: var(--first_color);
    justify-content: center;
    align-items: center;
}