.feature {
    padding-top: 94px;
    
    @media screen and (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1200px){
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.feature__box:not(:last-child) {
    margin-right: 30px;

    @media screen and (max-width: 768px) {
        margin-bottom: 30px;
        margin-right: 0;
    }
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
    .feature__list {
        
        display: flex;
        flex-wrap: wrap;
        margin-top: 34px;
        justify-content: center;
    }
}

.feature__box {
    width: 270px;

    @media screen and (max-width: 768px) {
        max-width: 450px;
    }
    @media screen and (min-width: 768px) and (min-width: 1200px) {
        max-width: 354px;
        flex-basis: calc((100% / 2) - 30px);
    }
}

.feature__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title_text);

    @media screen and (max-width: 768px) {
        text-align: center;
    }
}

.feature__text {
    flex-basis:auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 10px;

    color: var(--text_basic);
}

.feature__icon {
    width: 70px;
    height: 70px;
    
}

.feature__icon-box {
    margin-bottom: 30px;
    border: none;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
        //width: 100vw;
        max-width: 100%;
    }
    
}