.div_footer {
    display: flex;
    
    justify-content: center;
    @media screen and (max-width: 768px) {
        display: inline;
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
        flex-wrap: wrap;
        text-align: center;
    }
}

.container_footer {
    margin-right: 70px;

    @media screen and (max-width: 768px) {
        text-align: center;
        justify-content: center;
        margin-right: 0;
    }
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background_first);
    
}

.container_footer .logo {
    margin-right: 0px;
}

.adress {
    margin-top: 20px;
}

.list_footer {
    align-items: center;
    margin-left: auto;
}

.contact_footer:not(:first-child) {
    margin-top: 7px;
}

.adress_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--first_color);
}
.footer_color {
    color: var(--footer_color);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .contakt_mail-footer, .contakt_tel-footer  {
        font-size: 14px;
        line-height: 1.71;
    }
}