.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    transition: transform 250ms linear, opacity 250ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 580px;
    background: var(--first_color);
    padding: 40px;

    @media screen and (max-width: 468px) {
        width: 100vw;
        height: 609px;
    }
}

.svg_close {
    width: 11px;
    height: 11px;
    fill: var(--second_color);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}
.modal_form {
    display: flex;
    flex-direction: column;
}

.modal_form_field {
    margin-top: 10px;
    font-family: var(--main_fond);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;

    color: #757575;
}

.modal_form_input_wrapper {
    position: relative;
}

.modal_form_title {
    font-family: var(--main_fond);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--second_color);
}

.modal_form_input {
    margin-top: 4px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: var(--accent_color);
    }

}



.modal_form_input_wrapper {
    display: block;
    margin-top: 4px;
}

.modal_form_icon {
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form_input:focus + .modal_form_icon {
    fill: #2196F3;
}

.modal_form_message {
    margin-top: 4px;
    height: 120px;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        outline: none;
        border-color: var(--accent_color);
    }

}


.modal_form_check_deck {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-family: var(--main_fond);
    font-size: 14px;
    display:flex;
    align-items: center;
    color: #757575;
    letter-spacing: 0.03em;
    line-height: 24px;

    &::before {
        display: block;
        content: "";
        width: 16px;
        height: 16px;
        border: 1.5px solid #212121;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
       
    }
}


.modal_form_term:checked + .modal_form_check_deck::before {
    background-image: var(--accent_color);
    background-image: url(../img/check/icon.svg);
    background-position: center;
    border-color: var(--accent_color);
}

.modal_form_term:focus + .modal_form_check_deck::before {
    border: 1.5px solid var(--accent_color)
}


.modal_form_btn {
    font-family: var(--main_fond);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    align-self: center;
    margin-top: 30px;
    padding: 10px 32px;
    display: block;
    color: var(--first_color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background: var(--accent_color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    &:focus,
    &:hover {
    background: var(--button_accent)
    }
}

