:root {
    --main_fond: "Roboto", sans-serif;
    --secondary_fond: 'Raleway', sans-serif;
    --accent_color: #2196F3;
    --title_text: #212121;
    --text_basic: #757575;
    --footer_color: rgba(255, 255, 255, 0.6);
    --first_color: #FFFFFF;
    --second_color: #000000;
    --background_first: #2F303A;
    --background_second: #F5F4FA;
    --button_accent: #188CE8;
    --icon_color: #AFB1B8;
}